{% extends 'judge/base.html' %}

{% block title %} Register {% endblock %}

{% block body_block %}

    <h1> Register with POJ! </h1>

        {% if registered %}
            Thank you for registering!
        {% else %}
            <strong> Register here </strong>

            <form id="coder_form" method="post" action="/judge/register/"
                enctype = "multipart/form-data">
                {% csrf_token %}

                {{ user_form.as_p }}

                <input type="submit" name="submit" value="register with poj" />
            </form>
        {% endif %}
{% endblock %}

