{% extends 'judge/base.html' %}

{% block body_block %}
<div style="position: relative;top: 100px">

    <h1> Submit a Solution!</h1>

   <form id="submit_form" method = "post" action = "/judge/submit/{{pid}}" class="ui fluid form" 
        enctype = "multipart/form-data">
        {% csrf_token %}
        <p><label class="ui right pointing label basic blue">Language:</label>
        <select id="id_lang" name="lang" class="ui dropdown" >
			<option value="C">C</option>
			<option value="CPP">C++</option>
		</select></p>
<p><label for="id_code">Code:</label> <textarea cols="40" id="id_code" name="code" rows="10">
</textarea></p>
<div style="position: relative;">
        <input type = "submit" name = "submit" value = "Submit"  class="ui button teal">
</div>    
    </form>

<script type="text/javascript">
	$('#id_lang')
	  .dropdown();
</script>
{% endblock %}



 